.header{
    /* background: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    background: linear-gradient(to right, #ffefba, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}